.table th.up {
  background-image: url("../../assets/images/admin-table/up_arrow.png");
}
.table th.down {
  background-image: url("../../assets/images/admin-table/down_arrow.png");
}
.table th.default {
  background-image: url("../../assets/images/admin-table/default.png");
}
th.up,
th.default,
th.down {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
