@import "./scss/reset";
@import "./scss/variable";

.eventItem {
  padding: 50px 0;
  background-image: url("../assets/images/bg-event-2.jpg");
  @extend %bg-cover;
  min-height: 30vh;
  position: relative;
  color: $white;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: linear-gradient(
      248deg,
      rgba(90, 68, 130, 0.647) 0%,
      rgba(5, 10, 39, 0.452) 35%,
      rgb(62, 124, 194) 100%
    );
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(30vh - 80px);
    z-index: 5;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: capitalize;
    margin: 30px 0;
    z-index: 5;
    @media (max-width: 768px) {
      font-size: 30px;
      line-height: 36px;
      margin-top: 20px;
    }
  }

  &__desc {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 40px;
    z-index: 5;

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 26px;
      max-width: 750px;
    }

    @media (max-width: 540px) {
      max-width: 100%;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto 0 30px;
    z-index: 5;

    @media (max-width: 540px) {
      flex-direction: column;
      margin: auto 0 20px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    @media (max-width: 540px) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
  }

  &__text {
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__mark {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    z-index: 5;

    @media (max-width: 540px) {
      margin: 0 0 20px;
    }
  }

  &__scores {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 10px;
    @media (max-width: 768px) {
      font-size: 30px;
      line-height: 36px;
    }
  }

  &__points {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 40px;
    width: 450px;
    z-index: 5;
    @media (max-width: 540px) {
      width: 100%;
    }
    @media (max-width: 380px) {
      flex-direction: column;
    }
  }

  &__comment {
    font-size: 18px;
    line-height: 26px;
    padding: 20px;
    max-width: 300px;
    margin-left: auto;
    z-index: 5;
    position: relative;
    border-radius: 4px;
    background-color: $blue;

    &::after {
      content: "";
      position: absolute;
      height: 25px;
      width: 25px;
      bottom: -25px;
      background-color: $blue;
      left: 90%;
      clip-path: polygon(0 0, 100% 0, 100% 100%);
    }
  }
}

.eventItem.eventUser {
  background-image: url("../assets/images/bg-event-4.jpg");
  min-height: calc(100vh - 80px);
}

.members {
  padding: 0 0 30px;
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blue;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    padding: 15px 0;
    color: $white;
    margin-bottom: 15px;

    @media (max-width: 768px) {
      font-size: 22px;
      line-height: 28px;
      padding: 10px 0;
      margin-bottom: 10px;
    }
  }
  &__list {
    min-height: 30vh;
    transition: all 0.3s ease-in-out;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__img-container {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid darken($bg-gray, 10%);
    margin-right: 20px;

    @media (max-width: 540px) {
      height: 40px;
      width: 40px;
      margin-right: 10px;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  &__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    @media (max-width: 540px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
  &__content {
    display: flex;
    align-items: center;
  }
  &__addInfo {
    margin-left: 50px;
    display: flex;
    align-items: center;
  }
  &__comment {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    & > svg {
      width: 100%;
      height: 100%;
    }
  }
  &__points {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    margin-left: 10px;

    @media (max-width: 540px) {
      font-size: 14px;
      line-height: 22px;
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__statistic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: start;
    }
  }

  &__statistic-right {
    display: flex;
    align-items: center;
    margin-left: auto;

    @media (max-width: 768px) {
      margin: 15px 0 0;
    }
  }

  &__amount {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    margin-right: 20px;
  }
}
