@import "./scss/reset";
@import "./scss/variable";

.event {
  &__list {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    background-color: lighten($bg-gray, 15%);
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding-right: 10px;
    &:hover {
      color: inherit;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }
  &__name {
    @extend %fira-600;
    font-size: 22px;
    line-height: 32px;
  }
  &__descr {
    text-align: justify;
    padding: 0 5px;
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    min-width: 150px;
  }

  &__place {
  }
  &__date {
  }
}
