@import "./scss/reset";
@import "./scss/variable";

.event {
  &__list {
    display: flex;
    flex-direction: column;
    margin: 30px 0 50px 0;
    background-color: lighten($bg-gray, 15%);
    min-height: 500px;
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding-right: 10px;
    &:hover {
      color: inherit;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: start;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    max-width: 800px;
    @media (max-width: 1140px) {
      max-width: 600px;
    }
  }
  &__name {
    @extend %fira-600;
    font-size: 22px;
    line-height: 32px;
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 26px;
    }
    @media (max-width: 540px) {
      font-size: 15px;
      line-height: 20px;
    }
  }
  &__descr {
    text-align: justify;
    padding: 0 5px;
    @media (max-width: 1000px) {
      display: none;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    min-width: 150px;
    @media (max-width: 768px) {
      margin-left: 0;
      min-width: 0;
    }
  }

  &__place {
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__date {
  }
  &-search {
    width: 350px;
  }
}
