@import "./scss/reset";
@import "./scss/variable";

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border: 1px solid darken($bg-gray, 10%);
  border-radius: 0.375rem;
  background: $bg-gray;
  transition: all 0.3s ease-in-out;
  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

.list-item--hover {
  height: 90px;
  &:hover {
    box-shadow: $shadow;
  }
}
