.event {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  padding: 10px;
  font-size: 20px;
}

.list {
  padding: 0;
  list-style: none;
  text-align: center;
}

.listItem {
  margin-bottom: 20px;
  font-size: 25px;
  color: #444;
  font-weight: 300;
}

.table {
  margin-top: 15px;
}