.LoginTemplate {
  --primary-color: #4285f4;
  --secondary-color: #ffffff;
  --desc-color: #646464;
  --max-block-width: 350px;
  font-size: 18px;

  &-inner {
    border: 1px solid var(--primary-color);
    max-width: 1000px;
    min-height: 400px;
  }

  &-heading {
    color: var(--primary-color);
    font-size: 3rem;
    letter-spacing: -2px;
  }

  &-desc {
    max-width: var(--max-block-width);
    color: var(--desc-color);
    font-size: 20px;
  }

  &-icon{
    cursor: pointer;
  }
}

.login-form {

  &-btn {
    color: var(--primary-color) !important;
    background-color: var(--secondary-color) !important;
    font-size: 18px !important;
    max-width: var(--max-block-width);
  }

  &-input {
    background-color: var(--primary-color) !important;
    border-color: var(--secondary-color) !important;
    color: var(--secondary-color) !important;
    font-size: 18px !important;
    max-width: var(--max-block-width);
  }

  &-input::placeholder {
    color: var(--secondary-color) !important;
  }
}

.login-form-outer {
  background-color: var(--primary-color);
}

.forgot-password {
  font-size: 16px;
  max-width: var(--max-block-width);
}
