$primary-color: #060b26;
$font: "Fira Sans", sans-serif;
$white: #f5f6fa;
$black: #0c0e10;
$gray: #202425;
$blue: #1a83ff;

$shadow: 0px 0px 6px 3px rgba(7, 1, 77, 0.63);

$button-gray: #2b3133;
$btn-blue: #0e028f;

$bg-gray: #ebedf3;

$error: #bc3e3e;
$disable: #757474;

%fira-400 {
  font-family: $font;
  font-weight: 400;
}

%fira-500 {
  font-family: $font;
  font-weight: 500;
}

%fira-600 {
  font-family: $font;
  font-weight: 600;
}

%checkbox-hidden,
%radio-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

%absolute-50 {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

%bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
